<html>

<title>Baltimore Ravens Scouting Report</title>
<style>
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
    #main {
        display: flex;
        min-height: calc(200vh - 20vh);
    }
    #main > article {
        flex: 1;
    }
    #main > nav{
        flex-grow: 0 0 auto;
        background: black;
        font-family: Verdana, serif;
        text-align: center;
        font-size: 25px;
        color: white;

    }
    #main > nav {
        order: -1;
    }
    header, footer, article, nav {
        padding: 1em;
    }

    header {
        background: #241773;
        height: 20vh;
        font-family: matrixbold, serif;
        text-align: center;
        font-size: 50px;
        color: white;



    }

    footer {
        background: #9E7C0C;
        padding: 20px;
        font-family: matrixbold, serif;
        text-align: center;
        font-size: 18px;
        color: white;
        position:fixed;
        bottom:0;
        left:0;width:100%;

    }

    form  { display: table;      }
    p     { display: table-row;  }
    label { display: table-cell; }
    input { display: table-cell; }


    .formfield * {
        vertical-align: middle;
    }

</style>
<body>
<header>
  <img src="https://seeklogo.com/images/B/baltimore-ravens-logo-C6A34E403C-seeklogo.com.png" align="left" alt="Ravens Logo"
       width="180px" height="80">
  Baltimore Ravens Scouting Report
</header>
<article>
<h1>Please Enter Player Information</h1>
<br>
<%= form_with model: @article do |form| %>
  <div>
    Author: <%= form.text_field :author %><br/><br>
    <% @article.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    Player Name: <%= form.text_field :player_name %><br/><br>
    <% @article.errors.full_messages_for(:player_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  College: <%= form.text_field :college %><br/><br>
  Position: <%= form.text_field :position %><br/><br>
  Positions (Flex): <%= form.text_field :positions_flex %><br/><br>
  Height (Inches): <%= form.text_field :height %><br/><br>
  Weight (Pounds): <%= form.text_field :weight %><br/><br>
  Athletic Ability: <%= form.text_area :athletic_ability %><br/><br>
  Strengths: <%= form.text_area :strengths %><br/><br>
  Weaknesses: <%= form.text_area :weaknesses %><br/><br>
  Summary: <%= form.text_area :summary %><br/><br>
  Overall Grade: <%= form.text_field :grade %><br/><br>

  <%= form.submit %>
<% end %>


  <%= link_to "New Player", new_article_path %>

</article>

<nav>Prospects



</nav>

</body>
<footer>Contact us: 1 Winning Drive Owings Mills MD 21117<br> <br><span id="datetime"></span><script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script></footer>

</html>



