<html>
<%= link_to 'Player Record', articles_path(@article) %>

<h1><%= @article.player_name %></h1>

<p><%= @article.author %><br>
  <%= @article.college %><br>
  <%= @article.position %><br>
  <%= @article.positions_flex %><br>
  <%= @article.height %><br>
  <%= @article.weight %><br>
  <%= @article.athletic_ability %><br>
  <%= @article.strengths %><br>
  <%= @article.weaknesses %><br>
  <%= @article.summary %><br>
  <%= @article.grade %><br>


</p>

</html>